#div {
  color: red;
  align-content: center
}

/* #div:hover{
    color: blue;
    font-size: 3rem;

} */

#div::before {
  content: "before  "
}

#test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box>* {
  flex: 1 1 400px;
}

.one {
  background-color: red
}

.two {
  background-color: brown
}

.three {
  background-color: blue
}

.four {
  background-color: chartreuse
}

.five {
  background-color: coral
}

.six {
  background-color: cyan
}

.seven {
  background-color: darkkhaki
}